.item-area {
    background-color: whitesmoke;
}

.item-grid {
    padding: 5px;
    font-size: 14px;
}

.item-title {
    float: left;
    text-align: center;
}

.item-price {
    float: right;
    text-align: center;
}

.btn-round {
    border-radius: 10px;
    float: right;
    padding: 7px;
}

.radio-area {
    margin-left: 30px;
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 30px;
}