<h2>Login page</h2>
<!-- <div class="container">
  <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
          <form class="form-content">
              <img src="assets/images/user.png" class="login-avatar" />
              <div class="form-group">
                  <mat-form-field class="fields">
                      <mat-label>Email Address</mat-label>
                      <input type="email" matInput[formControl]="userEmail" placeholder="abc@gmail.com">
                  </mat-form-field>
              </div>
              <div class="form-group">
                  <mat-form-field class="fields">
                      <mat-label>Password</mat-label>
                      <input matInput[formControl]="userPassword" placeholder="******" types="password">
                  </mat-form-field>
              </div>
              <button class="btn btn-primary btn-md btn-radius5">Login</button>

              <a [routerLink]="['/forgotpass']" routerLinkActive="router-link-active">Forgot Password?</a>
              <br/>
              <a [routerLink]="['/newuser']" routerLinkActive="router-link-active">Don't have an account? Create one.</a>
              <br/><span>Or</span>
              <br/>
              <button class="btn btn-red btn-md btn-radius5">Signin with Google</button>
          </form>
      </div>
      <div class="col-md-3 ">
      </div>
  </div>
</div> -->