<!-- <ul class="bxslider">
    <li><img src="/assets/images/electronic.jpg" title="Funky roots"></li>
    <li><img src="/assets/images/shop.jpg" title="The long and winding road"></li>
    <li><img src="/assets/images/electronic.jpg" title="Funky roots"></li>
    <li><img src="/assets/images/shop.jpg" title="The long and winding road"></li>
</ul> -->
<div class="container">
    <h2 class="showcase-title">Product Showcase</h2>
</div>
<div class="container">
    <div>
        <iframe class="youtube-video" src="https://www.youtube.com/embed/ZpUfqKU5EE4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="container">
    <h2 class="showcase-title">Our Products</h2> <span class="view_all" [routerLink]="['/productpage']" routerLinkActive="router-link-active"> View All</span>
    <app-homeproduct></app-homeproduct>
</div>
<div class="container">
    <h2 class="showcase-title">Delivery & Packaging Process</h2>
    <div>
        <iframe class="youtube-video" src="https://www.youtube.com/embed/EuLmK4o4JBA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Free shipping</h4>
                    <p>Orders over Rs.999</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Free Return</h4>
                    <p>Within 7 days returns</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Secure Payment</h4>
                    <p>100% secure payment</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Best Price</h4>
                    <p>Guaranteed price</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>